<!DOCTYPE html>
<html>
<%- include('reusable/head') %>

    <body>
        <%- include('reusable/nav') %>

            <section class="content-image blue">
                <div class="image">
                    <img src="../images/2023-mar-31-dame-met-blauwe-hoed-kees-van-dongen-study-3-smaller.jpg"
                        alt="2023-mar-31-dame-met-blauwe-hoed-kees-van-dongen-study-3-smaller" />
                </div>
                <div class="text" style="text-transform: lowercase;">
                    <h1>about</h1>
                    <p>On January 1st 2020 I started my painting journey, taking oil painting classes at Schilderles
                        Amsterdam.</p>
                    <p>At some point I started experimenting with digital painting. It made it much easier to get
                        started, and it helped me get into a painting routine.
                    </p>
                    <p>
                        I realized that I wanted to share my work with other artists, be part of a creative community.
                        So I started sharing my work on instagram. I used the handle <a target="_blank"
                            href="https://www.instagram.com/creatievelingetje.paintings/">@creatievelingetje.paintings</a>
                        to
                        share it anonymously at first. I enjoyed this more than I thought I would, and it motivated me
                        to practice painting regularly.</p>
                    <p>
                        I do this next to my job as a software developer. It's mostly a creative outlet for me.
                    </p>
                    <p>
                        Follow me on Instagram <a target="_blank"
                            href="https://www.instagram.com/creatievelingetje.paintings/">@creatievelingetje.paintings</a>
                        to follow me on this creative journey. You
                        can view my Instagram as my sketchbook. I will show work in progress and more experimental
                        pieces.
                    </p>
                    <p>Shoot me a message through instagram or an email if you have any questions.</p>


                    </p>
                </div>
            </section>
            <section class="text-center">
                <h2>the blue hat</h2>
                <p>this is my remake of "the blue hat" or "het blauwe hoedje" from kees van dongen. sometimes it can be
                    hard to pick a subject to paint. in those cases, i like studying one of my favorite paintings.</p>
            </section>

            <%- include('reusable/footer') %> <%- include('reusable/scripts-before-closing-body') %>
    </body>

</html>