<!DOCTYPE html>
<html>
    <%- include('reusable/head') %>
    <body>
        <%- include('reusable/nav') %>

        <section class="content-image">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-but-alternative-colors.jpeg"
                    alt="portrait-alla-rembrandt-but-alternative-colors"
                />
            </div>
            <div class="text">
                <h1>content-image</h1>
                <p>
                    i'm a web developer based in amsterdam, i paint in my spare time<br><br>

                    on january 1st 2020 i started my painting journey<br>
                    taking oil painting classes<br><br>

                    i enjoy doing something creative next to my job
                </p>
                <p>
                    send me an email at tk.codelab@gmail.com
                </p>
            </div>
        </section>

        <section class="title-text">
            <div class="content">
                <h1>title-text</h1>
                <p class="large">
                    an art portfolio
                </p>
            </div>
        </section>

        <section class="image-grid">
            <div class="image-wrap">
                <img src="./images/portrait-alla-rembrandt-but-alternative-colors.jpeg" alt="portrait painting alla rembrandt with alternative colors"/>
                <div class="image-info" style="background-color: rgb(255 211 0 / 35%);">
                    <p>work in progress.<br><br>the excercise is: make a portrait like rembrandt. using claire obscure. classic style. but with an alternative color palette. based upon <a target="_blank" href="https://www.instagram.com/p/CO-JHPnHRmR/">a picture of justine tjallinks</a> </p>
                </div>
            </div>
            <div class="image-wrap">
                <img src="./images/view-street-newcastle.jpeg" alt="view-street-newcastle"/>
                <div class="image-info" style="background-color: rgb(255 126 203 / 35%);">
                    <div>
                        <h2>sunset in old newcastle</h2>
                        <p>the excercise was: make a landscape,  using atmospheric perspective. i chose a city landscape from one of the photography books in the atelier. using glazing.</p>
                    </div>
                </div>
            </div>
            <div class="image-wrap">
                <img src="./images/meisje-met-de-wangen.jpeg" alt="meisje met de wangen"/>
                <div class="image-info" style="background-color: rgb(68 76 58 / 35%);">
                    <div>
                        <h2>meisje met de wangen</h2>
                        <p>my first oil painting portrait. using a grid and kohl to draw on the canvas first. then set up the painting using only grayscale, to make sure contrast and tones were right. then add the layer with color. took ages. i completely screwed up one eye, it was too high, it was soggy, dark, jagged. this was a nightmare! i painted over it with light colors, let it dry, and repainted the eye. i learned to work with colors, to go easy with dark colors, that a mistake is fine, you can correct it. that parts can take a long time but can be rewarding, such as hands. from an article in de volkskrant about personality.</p>
                    </div>
                </div>
            </div>
            <div class="image-wrap">
                <img src="./images/quick-sketch-2.jpeg" alt="quick sketch 2"/>
                <div class="image-info" style="background-color: rgb(0 0 0 / 35%);">
                    <div>
                        <h2>quick sketch</h2>
                        <p>just a quick sketch from a remote lesson from andrea during covid. there was a timer set for only a few minutes to sketch still lives. working with light and dark. working fast. learning to look at objects differently, for example by 'blind' sketching.</p>
                    </div>
                </div>
            </div>
            <div class="image-wrap">
                <img src="./images/portrait-of-jobless-man-in-covid-times.jpeg" alt="portrait-of-jobless-man-in-covid-times"/>
                <div class="image-info" style="background-color: rgb(4 19 74 / 35%);">
                    <div>
                        <h2>portrait of jobless man in covid times</h2>
                        <p>painted this at home. wanted to paint a portrait, but not spend too much time on it. didn't have to be super realistic. first time drawing from a real model - it was easier than i thought. used pictures at a later stage. first the background was green, didn't like it. then got tip from teacher martijn that it reminder him of picasso's blue period, maybe i could add that atmosphere in it. like the blue much better because it represents sadness. the sadness is overwhelming him. i could have gone into more detail, but forced myself not to, using quite broad strokes.</p>
                    </div>
                </div>
            </div>
            <div class="image-wrap">
                <img src="./images/practice-skin-colors-by-looking-at-queen-freud.jpeg" alt="practice-skin-colors-by-looking-at-queen-freud"/>
                <div class="image-info" style="background-color: rgb(35 74 89 / 35%);">
                    <div>
                        <h2>skin colors</h2>
                        <p>practice painting skin colors. exercise was: look at the queen from freud and see if you can recreate the mouth.
                        </p>
                    </div>
                </div>
            </div>            

        </section>


        <%- include('reusable/footer') %> <%-
        include('reusable/scripts-before-closing-body') %>
    </body>
</html>
