<!DOCTYPE html>
<html>
    <%- include('reusable/head') %>
    <body>
        <%- include('reusable/nav') %>

        <section class="content-image">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-but-alternative-colors-3.jpeg"
                    alt="portrait-alla-rembrandt-but-alternative-colors"
                />
            </div>
            <div class="text">
                <h1>contact</h1>
                <p>
                    i'm a web developer based in amsterdam, i paint in my spare time<br><br>

                    on january 1st 2020 i started my painting journey<br>
                    taking oil painting classes<br><br>

                    i enjoy doing something creative next to my job
                </p>
                <p>
                    send me an email at tk.codelab@gmail.com
                </p>
            </div>
        </section>
        
        <%- include('reusable/footer') %> <%-
        include('reusable/scripts-before-closing-body') %>
    </body>
</html>
