<!DOCTYPE html>
<html>
<%- include('reusable/head') %>

    <body>
        <%- include('reusable/nav') %>

            <section class="content-image">
                <div class="image">
                    <img src="../images/portrait-alla-rembrandt-but-alternative-colors-3.jpeg"
                        alt="portrait-alla-rembrandt-but-alternative-colors" />
                </div>
                <div class="text">
                    <h1>contact</h1>
                    <p>
                        send me an email at tk.codelab@gmail.com
                    </p>
                    <p>or send me a message on instagram</p>
                    <a target="_blank" href="https://www.instagram.com/creatievelingetje.paintings/"><img
                            src="../images/creatievelingetje-paintings-insta.jpg"
                            alt="creatievelingetje-paintings-insta" style="width: 200px;" /></a><br>


                </div>
            </section>

            <%- include('reusable/footer') %> <%- include('reusable/scripts-before-closing-body') %>
    </body>

</html>