<!DOCTYPE html>
<html>
<%- include('reusable/head') %>

    <body>
        <%- include('reusable/nav') %>
            <section class="title-text">
                <div class="content">
                    <h1>tk.creative</h1>
                    <p class="large">
                        an art portfolio
                    </p>
                </div>
            </section>

            <section class="flexbox-grid">

                <!-- Photo Grid -->
                <div class="row">
                    <div class="column">
                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/2023-may-7-portrait-of-my-favorite-person-2-smaller.jpg"
                                alt="2023-may-7-portrait-of-my-favorite-person-2-smaller" style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgba(255, 102, 0, 0.35);">
                                <h2>portrait</h2>
                                <span class="label-digital-or-real">digital</span>
                                <p>in the style of the portraits of sean eli mensah <a target="_blank"
                                        href="https://www.instagram.com/mensah.eli/">@mensah.eli</a>. challenges: smooth
                                    skin
                                    tones, likeness, a strong gaze.</p>
                            </div>
                        </div>

                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/2023-mar-6-figure-in-water-3-small.png"
                                alt="2023-mar-6-figure-in-water-3-small" style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgba(31, 102, 134, 0.35);">
                                <h2>figure in water</h2>
                                <span class="label-digital-or-real">digital</span>
                                <p>experimenting with broader brush strokes and texture in brush strokes. reference
                                    photo by alfonsovq <a target="_blank"
                                        href="https://www.instagram.com/alfonsovq_photo/">@alfonsovq_photo</a>
                                </p>
                            </div>
                        </div>

                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/meisje-met-de-wangen.jpeg" alt="meisje met de wangen"
                                style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgb(68 76 58 / 35%);">
                                <div>
                                    <h2>meisje met de wangen</h2>
                                    <span class="label-digital-or-real">traditional</span>
                                    <p>my first oil painting portrait. using a grid and kohl to draw on the canvas
                                        first. then
                                        set up the painting using only grayscale, to make sure contrast and tones were
                                        right.
                                        then add the layer with color. took ages. from an article in de volkskrant about
                                        personality <a target="_blank"
                                            href="https://www.volkskrant.nl/wetenschap/of-je-je-karakter-kunt-veranderen-nou-in-elk-geval-een-beetje~b11234e6/">'of
                                            je je karakter kunt veranderen? nou, in elk geval een beetje' by margreet
                                            vermeulen</a>. photo by eric smits.</p>
                                </div>
                            </div>
                        </div>

                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/thom-havlik-portrait-2022-07-27.png"
                                alt="thom-havlik-portrait-2022-07-27" style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgba(255, 125, 158, 0.35);">
                                <h2>portrait of a pensive girl</h2>
                                <span class="label-digital-or-real">digital</span>
                                <p>reference photo by thom havlik <a target="_blank"
                                        href="https://www.instagram.com/thomhavlik/">@thomhavlik</a></p>
                            </div>
                        </div>

                    </div>
                    <div class="column">

                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/portrait-alla-rembrandt-but-alternative-colors-2.jpeg"
                                alt="portrait painting alla rembrandt with alternative colors" style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgb(255 211 0 / 35%);">
                                <h2>portrait alla rembrandt with alternative colors</h2>
                                <span class="label-digital-or-real">traditional</span>
                                <p>the excercise was: make a portrait like rembrandt. using claire obscure. classic
                                    style. but
                                    with an alternative color palette. based upon <a target="_blank"
                                        href="https://www.instagram.com/p/CO-JHPnHRmR/">a photo of justine tjallinks</a>
                                </p>
                                <a href="/portrait-alla-rembrandt" class="button-white">see more</a>
                            </div>
                        </div>

                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/impression-on-picture-of-georgia-o-keeffe.jpeg"
                                alt="impression-on-picture-of-georgia-o-keeffe" style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgb(132 103 158 / 35%);">
                                <div>
                                    <h2>impression of georgia</h2>
                                    <span class="label-digital-or-real">traditional</span>
                                    <p>alfred stieglitz took many photos of georgie 'o keeffe. this painting is based
                                        upon on
                                        of those, 'neck'. quick painting, to enjoy colors, lines and figure.</p>
                                </div>
                            </div>
                        </div>

                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/2022-sep-20-portrait-3.jpg" alt="2022-sep-20-portrait-3"
                                style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgb(132 103 158 / 35%);">
                                <div>
                                    <h2>portrait of paola</h2>
                                    <span class="label-digital-or-real">digital</span>
                                    <p>reference photo by edison trinidad <a target="_blank"
                                            href="https://www.instagram.com/e.trinid/">@e.trinid</a> on instagram of
                                        paola esquea trinidad <a target="_blank"
                                            href="https://www.instagram.com/paolayet95/">@paolayet95</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="column">

                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/2022-sep-17-3.jpg" alt="2022-sep-17-3" style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgb(132 103 158 / 35%);">
                                <div>
                                    <h2>portrait</h2>
                                    <span class="label-digital-or-real">digital</span>
                                    <p>reference photo by viktor zhulin <a target="_blank"
                                            href="https://www.instagram.com/photo_zhulin/">@photo_zhulin</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/2023-feb-22-portrait-6-smaller.jpg" alt="2023-feb-22-portrait-6-smaller"
                                style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgba(26, 92, 0, 0.35);">
                                <div>
                                    <h2>portrait</h2>
                                    <span class="label-digital-or-real">digital</span>
                                    <p>reference photo by julia icy <a target="_blank"
                                            href="https://www.instagram.com/_icyphoto_/">@_icyphoto_</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="image-wrap" style="width: 100%">
                            <img src="./images/2023-apr-27-woman-in-field-3-smaller.jpg"
                                alt="2023-apr-27-woman-in-field-3-smaller" style="width: 100%" />
                            <div class="i-icon"><span>i</span></div>
                            <div class="image-info" style="background-color: rgba(0, 112, 116, 0.35);">
                                <div>
                                    <h2>woman in field with rye stalks</h2>
                                    <span class="label-digital-or-real">digital</span>
                                    <p>portrait with softer colors, details, learned a lot from this painting. how to
                                        work with texture, filters, how to make a timelapse video. made a grisaille
                                        layer and experienced (again) how much it helped me with tones and contrast.
                                        refrence photo by lou <a target="_blank"
                                            href="https://www.instagram.com/lou.photos2/">@lou.photos2</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <h2>portrait painting</h2>
                <p>capturing the likeness of a being in a painting is a wonderful challenge to me. i keep coming back to
                    painting portraits. portrait painting is hard, but rewarding. it is thrilling to see the face come
                    to life.</p>

                <h2>traditional painting & digital painting</h2>
                <p>i work with traditional canvasses and oil paint, and sometimes acrylic paint. next to that i paint
                    digitally. digital painting has opened up a whole world of possiblities for me, but mostly, i paint
                    more often and stick to a routine.</p>

            </section>
            <%- include('reusable/footer') %>
                <%- include('reusable/scripts-before-closing-body') %>
    </body>

</html>