<!DOCTYPE html>
<html>
<%- include('reusable/head') %>

    <body>
        <%- include('reusable/nav') %>
            <section class="title-text">
                <div class="content">
                    <h1>tk.creative</h1>
                    <p class="large">
                        an art portfolio
                    </p>
                </div>
            </section>

            <section class="image-grid">

                <div class="image-wrap">
                    <img src="./images/thom-havlik-portrait-2022-07-27.png" alt="thom-havlik-portrait-2022-07-27" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgba(255, 125, 158, 0.35);">
                        <h2>wip: portrait pensive girl</h2>
                        <p>reference: photo by thom havlik.</p>
                    </div>
                </div>



                <div class="image-wrap">
                    <img src="./images/inspired-by-paula-aranoa-crop.png" alt="inspired-by-paula-aranoa-crop" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgba(88, 88, 88, 0.35);">
                        <h2>inspired by paula aranoa</h2>
                        <p>digital art piece, one of my first sketches. trying to build a daily habit. the drawing
                            tablet / digital way is helping with that. it's quick, no mess.</p>
                    </div>
                </div>

                <div class="image-wrap">
                    <img src="./images/portrait-alla-rembrandt-but-alternative-colors-2.jpeg"
                        alt="portrait painting alla rembrandt with alternative colors" width="1536" height="2048" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(255 211 0 / 35%);">
                        <h2>portrait alla rembrandt with alternative colors</h2>
                        <p>the excercise is: make a portrait like rembrandt. using claire obscure. classic style. but
                            with an alternative color palette. based upon <a target="_blank"
                                href="https://www.instagram.com/p/CO-JHPnHRmR/">a picture of justine tjallinks</a> </p>
                        <a href="/portrait-alla-rembrandt" class="button-white">see more</a>
                    </div>
                </div>



                <div class="image-wrap">
                    <img src="./images/MySecondOneYay2.jpg" alt="MySecondOneYay2" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgba(0, 255, 64, 0.35);">
                        <h2>wow, look at what you can do with digital paint!</h2>
                    </div>
                </div>




                <div class="image-wrap">
                    <img src="./images/gardening-2022-07-27.jpeg" alt="gardening-2022-07-27" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgba(138, 192, 87, 0.35);">
                        <h2>gardening</h2>
                        <p>trying to sketch daily. used a prompt by thriving women artists (podcast)</p>
                    </div>
                </div>

                <div class="image-wrap">
                    <img src="./images/PaulaAranoaOjalaQueEnElAlmacen.jpg" alt="PaulaAranoaOjalaQueEnElAlmacen" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgba(0, 80, 252, 0.35);">
                        <h2>inspired by paula aranoa 2</h2>
                        <p>digital art piece, practising light and dark shapes instead of drawing lines to suggest a
                            figure.</p>
                    </div>
                </div>


                <div class="image-wrap">
                    <img src="./images/view-street-newcastle.jpeg" alt="view-street-newcastle" width="2048"
                        height="1640" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(255 126 203 / 35%);">
                        <div>
                            <h2>sunset in old newcastle</h2>
                            <p>the excercise was: make a landscape, using atmospheric perspective. i chose a city
                                landscape from one of the photography books in the atelier. using glazing.</p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/meisje-met-de-wangen.jpeg" alt="meisje met de wangen" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(68 76 58 / 35%);">
                        <div>
                            <h2>meisje met de wangen</h2>
                            <p>my first oil painting portrait. using a grid and kohl to draw on the canvas first. then
                                set up the painting using only grayscale, to make sure contrast and tones were right.
                                then add the layer with color. took ages. from an article in de volkskrant about
                                personality <a target="_blank"
                                    href="https://www.volkskrant.nl/wetenschap/of-je-je-karakter-kunt-veranderen-nou-in-elk-geval-een-beetje~b11234e6/">'of
                                    je je karakter kunt veranderen? nou, in elk geval een beetje' by margreet
                                    vermeulen</a>. picture from eric smits.</p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/the-rower-2.jpeg" alt="the-rower-2" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(0 0 0 / 35%);">
                        <div>
                            <h2>the rower</h2>
                            <p>at the end of a lesson, decided to choose an image to make a quick, loose painting.
                                when starting i realised i did need to draw it quickly, because of the
                                shortening of the form. taking care of proportions.
                            </p>
                            <a href="/the-rower" class="button-white">see more</a>
                        </div>
                    </div>
                </div>

                <div class="image-wrap">
                    <img src="./images/portrait-of-jobless-man-in-covid-times.jpeg"
                        alt="portrait-of-jobless-man-in-covid-times" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(4 19 74 / 35%);">
                        <div>
                            <h2>portrait of jobless man in covid times</h2>
                            <p>painted this at home. wanted to paint a portrait, but not spend too much time on it.
                                didn't have to be super realistic. first time drawing from a real model - it was easier
                                than i thought. </p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/practice-skin-colors-by-looking-at-queen-freud.jpeg"
                        alt="practice-skin-colors-by-looking-at-queen-freud" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(35 74 89 / 35%);">
                        <div>
                            <h2>skin colors queen</h2>
                            <p>practice painting skin colors. exercise was: look at the queen from freud and see if you
                                can recreate the mouth.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/quick-sketch-2.jpeg" alt="quick sketch 2" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(0 0 0 / 35%);">
                        <div>
                            <h2>quick sketch</h2>
                            <p>just a quick sketch from a remote lesson from andrea during covid. there was a timer set
                                for only a few minutes to sketch still lives. working with light and dark. working fast.
                                learning to look at objects differently, for example by 'blind' sketching.</p>
                        </div>
                    </div>
                </div>

                <div class="image-wrap">
                    <img src="./images/impression-on-picture-of-georgia-o-keeffe.jpeg"
                        alt="impression-on-picture-of-georgia-o-keeffe" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(132 103 158 / 35%);">
                        <div>
                            <h2>impression of georgia</h2>
                            <p>alfred stieglitz took many pictures of georgie 'o keeffe. this painting is based upon on
                                of those, 'neck'. quick painting, to enjoy colors, lines and figure.</p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/practice-skin-colors-looking-at-anders-zorn.jpeg"
                        alt="practice-skin-colors-looking-at-anders-zorn" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(255 46 0 / 35%);">
                        <div>
                            <h2>skin colors zorn</h2>
                            <p>practice painting skin colors. exercise was: see and try to recreate the bright colors
                                anders zorn used in his painting.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/clouds-like-willem-tholen.jpeg" alt="clouds-like-willem-tholen" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(203 126 117 / 35%);">
                        <div>
                            <h2>painting clouds</h2>
                            <p>remote workshop from vera about painting clouds. based upon painting from willem tholen.
                                learned that cloud should 'look' as if it's further than the sea, tried to fix it.
                                learned that you should build it up in big parts. cloud is reflected in sea. white is
                                usually too white, better mix a bit of oker or something in it. by making the background
                                darker, the cloud got more in forefront.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/landscape-abstractish.jpeg" alt="landscape-abstractish" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(135 169 31 / 35%);">
                        <div>
                            <h2>abstract(ish) landscape</h2>
                            <p>excercise was: make a landscape based upon a view from nature, but abstract. very zoomed
                                in, or an unrecognizable cutout. i didn't really execute it well, but i was very happy
                                with painting with a more 'loose' style, broad strokes, not too precise. showing
                                movement. based upon <a target="_blank"
                                    href="https://www.instagram.com/p/CIkjvT6Mb2w/">image from robs.images.000</a></p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/de-dansers.jpeg" alt="de-dansers" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(0 0 0 / 35%);">
                        <div>
                            <h2>de dansers</h2>
                            <p>excersise: silhouette. did not use a grid, but used a 'point to point' system, making
                                dots where the most outer arms, legs and heads were. to prevent a dancer from falling
                                off the frame. based upon a photo from gjon mili 'centaurs - charles weidman, josé limón
                                en lee sherman, 1939'.</p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/prepare-portrait-drawing-kohl.jpeg" alt="prepare-portrait-drawing-kohl" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(0 0 0 / 35%);">
                        <div>
                            <h2>prepare puur portret</h2>
                            <p>the structured way to build up the face for the workshop puur portret</p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/portrait-drawing-kohl.jpeg" alt="portrait-drawing-kohl" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(0 0 0 / 35%);">
                        <div>
                            <h2>puur portret</h2>
                            <p>remote workshop 'puur portret' by hannah. learned about how to use a grid to make good
                                proportions in a portrait, especially when not en face.</p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/quick-sketch-1.jpeg" alt="quick sketch 1" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(0 0 0 / 35%);">
                        <div>
                            <h2>quick sketch</h2>
                            <p>a quick sketch from andrea's workshop</p>
                        </div>
                    </div>
                </div>


                <div class="image-wrap">
                    <img src="./images/het-bootje-2.jpeg" alt="het bootje" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(81 54 37 / 35%);">
                        <div>
                            <h2>the little boat</h2>
                            <p>het bootje is one of the first things you get to paint in the course i am doing.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="image-wrap">
                    <img src="./images/collage-a-1.jpeg" alt="collage-a-1" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(64 147 237 / 35%);">
                        <div>
                            <h2>collage a</h2>
                            <p>collage 'is not my thing' i thought. my opinion on that is starting to change.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-wrap">
                    <img src="./images/collage-b.jpeg" alt="collage-b" />
                    <div class="i-icon"><span>i</span></div>
                    <div class="image-info" style="background-color: rgb(255 151 0 / 35%);">
                        <div>
                            <h2>collage b</h2>
                            <p>the exercise was to use clean cut lines within the collage, no curves. use alignment to
                                make a unique image.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('reusable/footer') %>
                <%- include('reusable/scripts-before-closing-body') %>
    </body>

</html>