<!DOCTYPE html>
<html>
<%- include('reusable/head') %>

    <body>
        <%- include('reusable/nav') %>

            <section class="content-image">
                <div class="image">
                    <img src="../images/meisje-met-de-wangen.jpeg" alt="meisje met de wangen" />
                    <a target="_blank" href="../images/meisje-met-de-wangen.jpeg" class="tab"><span>tab</span></a>
                </div>
                <div class="text">
                    <h1>meisje met de wangen</h1>
                    <p>
                        my first portrait
                    </p>
                </div>
            </section>

            <section class="image-center">
                <div class="image">
                    <img src="../images/.png" alt="" />
                    <a target="_blank" href="../images/.png" class="tab"><span>tab</span></a>
                </div>
                <div class="text">
                    <h2>todo</h2>
                    <p>
                        i completely screwed up one eye, it was too
                        high, it was soggy, dark, jagged. this was a nightmare! i painted over it with light
                        colors, let it dry, and repainted the eye. i learned to work with colors, to go easy
                        with dark colors, that a mistake is fine, you can correct it. that parts can take a long
                        time but can be rewarding, such as hands.
                    </p>
                </div>
            </section>

            <%- include('reusable/footer') %>
                <%- include('reusable/scripts-before-closing-body') %>
    </body>

</html>