<!DOCTYPE html>
<html>
<%- include('reusable/head') %>

    <body>
        <%- include('reusable/nav') %>
            <section class="title-text">
                <div class="content">
                    <h1>photography</h1>
                    <p class="large">
                        did a photography course at CREA</p>
                    <p>
                        now posting my photos mostly on instagram (@creatievelingetje)
                    </p>
                </div>
            </section>

            <section class="photo-list">
                <div class="photo-wrap">
                    <img src="/images/photography/2021-11-23-night-1.jpg" alt="2021-11-23-night-1" />
                    <a target="_blank" href="/images/photography/2021-11-23-night-1.jpg"
                        class="tab"><span>tab</span></a>
                </div>

                <div class="photo-wrap">
                    <img src="/images/photography/2021-11-23-night-2.jpg" alt="2021-11-23-night-2" />
                    <a target="_blank" href="/images/photography/2021-11-23-night-2.jpg"
                        class="tab"><span>tab</span></a>
                </div>

                <div class="photo-wrap">
                    <img src="/images/photography/2021-11-23-night-3.jpg" alt="2021-11-23-night-3" />
                    <a target="_blank" href="/images/photography/2021-11-23-night-3.jpg"
                        class="tab"><span>tab</span></a>
                </div>

            </section>
            <%- include('reusable/footer') %>
                <%- include('reusable/scripts-before-closing-body') %>
    </body>

</html>