<!DOCTYPE html>
<html>
    <%- include('reusable/head') %>
    <body>
        <%- include('reusable/nav') %>

        <section class="content-image">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-but-alternative-colors-2.jpeg"
                    alt="portrait-alla-rembrandt-but-alternative-colors 2"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-but-alternative-colors-2.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h1>portrait alla rembrandt with alternative colors</h1>
                <p>
                    this is a painting i spent quite some time on and i'd like to share the process with you.
                </p>
                <p>
                    the exercise was to make a portrait in the style of rembrandt, but with a self chosen color palette.
                </p> 
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/photo-by-justine-tjallinks.png"
                    alt="photo-by-justine-tjallinks"
                />
                <a target="_blank" href="../images/photo-by-justine-tjallinks.png" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>example</h2>
                <p>
                    justine tjallinks is a dutch photographer

                    "Haar werk is een combinatie van gedempte kleuren en gebalanceerde composities, geïnspireerd door de grote meesters uit de Nederlandse schilderkunst en eigentijdse mode. Ze weet de hedendaagse tijdsgeest te vangen en deze te combineren met een flinke dosis nostalgie." harper's bazaar
                </p>
                <p>
                    i chose this image because the pose is classic and i just thought the expression was really nice. also, the light was already clair-obscur.
                    i actually worked from this screenshot from my phone.
                    why? because i like to see the vivid colors in a picture. when i print it out on paper they are never as good.
                    my favorite is to work from a book, but that's not always possible.
                </p>
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-drawing-1.jpeg"
                    alt="portrait-alla-rembrandt-drawing-1"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-drawing-1.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>drawing on canvas</h2>
                <p>the drawing on canvas is more about composition, knowing where's what, then precise drawing. you will totally paint over it anyway. just need to determine the 'planes' (vlakken)</p>       
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-drawing-2.jpeg"
                    alt="portrait-alla-rembrandt-drawing-2"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-drawing-2.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>drawing on canvas 2</h2>
                <p>so this is too precise</p>
                <p>however, i did correct the face tilt. in the first drawing it was still quite drawn as if it was en face. but he/she is tilting their face. and the eye brows. and the proportions nose versus mouth.</p>                 
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-first-layer.jpeg"
                    alt="portrait-alla-rembrandt-first-layer"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-first-layer.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>first layer</h2>      
                <p>the goal was to make a first layer, where contrast between light and dark is clear. i could have started with color immediately, but it would have been really hard to keep contract in check. also i still need to practice in-between shades</p>     
                <p>he/she has quite a pointed face here. but also this layer will be completely covered in a later stage, so no need to paint details.</p>          
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-background.jpeg"
                    alt="portrait-alla-rembrandt-background"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-background.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>background & testing palette</h2> 
                <p>before i started painting i had to think through what the colors would be. i chose brighter colors in the end. green and red, complementary colours.</p>      
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-first-colors.jpeg"
                    alt="portrait-alla-rembrandt-first-colors"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-first-colors.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-apply-first-colors.jpeg"
                    alt="portrait-alla-rembrandt-apply-first-colors"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-apply-first-colors.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>applying the first colors</h2> 
                <p></p>      
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-too-yellow.jpeg"
                    alt="portrait-alla-rembrandt-too-yellow"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-too-yellow.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>too yellow</h2> 
                <p></p>      
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-better.jpeg"
                    alt="portrait-alla-rembrandt-better"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-better.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>better</h2> 
                <p></p>      
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-but-alternative-colors-almost-done.jpeg"
                    alt="portrait-alla-rembrandt-but-alternative-colors-almost-done"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-but-alternative-colors-almost-done.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-but-alternative-colors-almost-done-2.jpeg"
                    alt="portrait-alla-rembrandt-but-alternative-colors-almost-done-2"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-but-alternative-colors-almost-done-2.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>almost there</h2> 
                <p>finally i painted the eyes, i had been avoiding them as long as possible. they are still a bit to 'make up' like</p>      
            </div>
        </section>

        <section class="image-center">
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-but-alternative-colors-2.jpeg"
                    alt="portrait-alla-rembrandt-but-alternative-colors-2"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-but-alternative-colors-2.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="image">
                <img
                    src="../images/portrait-alla-rembrandt-but-alternative-colors-3.jpeg"
                    alt="portrait-alla-rembrandt-but-alternative-colors-3"
                />
                <a target="_blank" href="../images/portrait-alla-rembrandt-but-alternative-colors-3.jpeg" class="tab"><span>tab</span></a>
            </div>
            <div class="text">
                <h2>end result</h2> 
                <p>made left eye a bit 'lighter'. applied darker colors above eye. made right eye darker, redid the white dot. applied light in hair from light source, to get a better feeling of light from left top to right bottom direction and clair-obscur. did collar 'impasto' style (pasty, thick paint). applied small dots to resemble the glitter vest the person is wearing. end of lesson i rushed and changed mouth.</p>      
            </div>
        </section>
        
        <%- include('reusable/footer') %> <%-
        include('reusable/scripts-before-closing-body') %>
    </body>
</html>
