<!DOCTYPE html>
<html>
<%- include('reusable/head') %>

    <body>
        <%- include('reusable/nav') %>

            <section class="content-image">
                <div class="image image-dark-gray-overlay">
                    <img src="../images/the-rower-2.jpeg" alt="the-rower-2" />
                    <a target="_blank" href="../images/the-rower-2.jpeg" class="tab"><span>tab</span></a>
                </div>
                <div class="text">
                    <h1>the rower</h1>
                    <p>
                        i enjoyed working in my last portrait. however, i wanted to move on to something 'lighter'. and
                        test if i could do some faster painting with broad strokes. this is a painting i made in one
                        lesson. i used only four tones (great suggestion from martijn), and i used quite big brushes.
                    </p>
                </div>
            </section>

            <section class="image-center">
                <div class="image">
                    <img src="../images/the-rower-photo.jpeg" alt="the-rower-photo" />
                    <a target="_blank" href="../images/the-rower-photo.jpeg" class="tab"><span>tab</span></a>
                </div>
                <div class="text">
                    <h2>example</h2>
                    <p>
                        this is a photo from one of the photography books in the atelier.
                    </p>
                </div>
            </section>

            <section class="image-center">
                <div class="image">
                    <img src="../images/the-rower-1.jpeg" alt="the-rower-1" />
                    <a target="_blank" href="../images/the-rower-1.jpeg" class="tab"><span>tab</span></a>
                </div>
                <div class="text">
                    <h2>drawing</h2>
                    <p>
                        i wanted to do a quick painting of a figure. when i chose this photo
                        however, i realised i would need a sketch first. i notice now that her hip is a bit too wide,
                        and the right shoulder should be a bit lower. otherwise a good starting point for next session.
                    </p>
                </div>
            </section>

            <%- include('reusable/footer') %>
                <%- include('reusable/scripts-before-closing-body') %>
    </body>

</html>