<!DOCTYPE html>
<html>
<%- include('reusable/head') %>

    <body>
        <%- include('reusable/nav') %>

            <section class="content-image">
                <div class="image image-dark-gray-overlay">
                    <img src="../images/the-rower-1.jpeg" alt="the-rower" />
                    <a target="_blank" href="../images/the-rower.jpeg" class="tab"><span>tab</span></a>
                </div>
                <div class="text">
                    <h1>the rower</h1>
                    <p>
                        started a new painting. i wanted to do a quick painting of a figure. when i chose this photo
                        however, i realised i would need a sketch first. i notice now that her hip is a bit too wide,
                        and the right shoulder should be a bit lower. otherwise a good starting point for next session.
                    </p>
                </div>
            </section>

            <section class="image-center">
                <div class="image">
                    <img src="../images/the-rower-photo.jpeg" alt="the-rower-photo" />
                    <a target="_blank" href="../images/the-rower-photo.jpeg" class="tab"><span>tab</span></a>
                </div>
                <div class="text">
                    <h2>example</h2>
                    <p>
                        this is a photo from one of the photography books in the atelier.
                    </p>
                </div>
            </section>

            <%- include('reusable/footer') %>
                <%- include('reusable/scripts-before-closing-body') %>
    </body>

</html>