<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>tk.creative art portfolio</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="description"
        content="art portfolio of tk.creative, showcasing mostly portrait paintings, both digital & traditional">
    <meta name="author" content="tk-creative">
    <meta name="keywords" content="art, painting, art portfolio, digital art, oil painting">
    <meta property="og:title" content="tk.creative art portfolio" />
    <meta property="og:image" content="/images/2023-mar-6-figure-in-water-3-small.png" />
    <meta property="og:description"
        content="art portfolio of tk.creative, showcasing mostly portrait paintings, both digital & traditional" />


</head>