<nav>
    <a class="logo" href="/">
        <!-- <img src="/images/logo.png" alt="Logo"/> -->
        tk.creative
    </a>

    <div class="nav-links">
        <div class="swipe">
            <p>></p>
        </div>
        <a href="/">
            <span class="link-text">paintings</span>
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="168.73987mm" height="53.506306mm"
                viewBox="0 0 168.73987 53.506306" version="1.1" id="svg8"
                inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)" sodipodi:docname="stroke-2.svg">


                <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
                    transform="translate(-14.77475,-77.851725)">
                    <path
                        style="fill:none;fill-rule:evenodd;stroke:#95a5cf4d;stroke-width:8.96500015;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                        d="m 34.773809,94.026785 c 3.023809,1.511903 128.511901,-11.717263 128.511901,-11.717263 0,0 -119.062496,20.788688 -116.416662,20.788688 2.645833,0 140.229162,-10.961307 133.047612,-10.961307 -7.18154,0 -142.874994,22.300597 -142.874994,22.300597 L 182.18452,99.696427 15.497024,126.91071 153.45833,109.52381"
                        id="path11941" inkscape:connector-curvature="0" />
                </g>
            </svg>
        </a>

        <a href="/about/">
            <span class="link-text">about</span>
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="168.73987mm" height="53.506306mm"
                viewBox="0 0 168.73987 53.506306" version="1.1" id="svg8"
                inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)" sodipodi:docname="stroke-2.svg">


                <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
                    transform="translate(-14.77475,-77.851725)">
                    <path
                        style="fill:none;fill-rule:evenodd;stroke:#95cf9a4d;stroke-width:8.96500015;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                        d="m 34.773809,94.026785 c 3.023809,1.511903 128.511901,-11.717263 128.511901,-11.717263 0,0 -119.062496,20.788688 -116.416662,20.788688 2.645833,0 140.229162,-10.961307 133.047612,-10.961307 -7.18154,0 -142.874994,22.300597 -142.874994,22.300597 L 182.18452,99.696427 15.497024,126.91071 153.45833,109.52381"
                        id="path11941" inkscape:connector-curvature="0" />
                </g>
            </svg>
        </a>

        <a href="/contact/">
            <span class="link-text">contact</span>
            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="168.73987mm" height="53.506306mm"
                viewBox="0 0 168.73987 53.506306" version="1.1" id="svg8"
                inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)" sodipodi:docname="stroke-2.svg">


                <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
                    transform="translate(-14.77475,-77.851725)">
                    <path
                        style="fill:none;fill-rule:evenodd;stroke:#cf95954d;stroke-width:8.96500015;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                        d="m 34.773809,94.026785 c 3.023809,1.511903 128.511901,-11.717263 128.511901,-11.717263 0,0 -119.062496,20.788688 -116.416662,20.788688 2.645833,0 140.229162,-10.961307 133.047612,-10.961307 -7.18154,0 -142.874994,22.300597 -142.874994,22.300597 L 182.18452,99.696427 15.497024,126.91071 153.45833,109.52381"
                        id="path11941" inkscape:connector-curvature="0" />
                </g>
            </svg>
        </a>
    </div>
</nav>